<nav class="navbar navbar-expand-lg navbar-light indigo">
  <link rel="stylesheet" href="../css/estilos.css">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="tab">
      <button class="tablinks" onclick="cambiarPestaña(event, 'Listar Sensores')">Listar Sensores</button>
    </div>
  </div>
</nav><br>

<script>
  function cambiarPestaña(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

  
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}  
</script>

<div id="Listar Sensores" class="tabcontent">
  {{#each sensores}}
  <div class="col-md-11" style=" float:left; border-radius: 1px; border-color: rgb(194, 194, 194); border-style: solid; margin-top: 5px;">
    <div class="header" style="background-color: beige;" id="nodo">
      <h3 style="text-align: center;">Sensor {{id}}</h3>
    </div>
    <div class="body">
      <h6 for="manufacturer" style="font-weight: bold;">Manufacturer: <label
          style="font-weight: normal;">{{manufacturer}}</label></h6>
      <h6 for="manufacturerid" style="font-weight: bold;">ManufacturerID: <label
          style="font-weight: normal;">{{manufacturerid}}</label></h6>
      <h6 for="product" style="font-weight: bold;">Product: <label style="font-weight: normal;">{{product}}</label></h6>
      <h6 for="producttype" style="font-weight: bold;">ProductType: <label
          style="font-weight: normal;">{{producttype}}</label></h6>
      <h6 for="productid" style="font-weight: bold;">ProductID: <label
          style="font-weight: normal;">{{productid}}</label></h6>
      <h6 for="type" style="font-weight: bold;">Type: <label style="font-weight: normal;">{{type}}</label></h6>
      <h6 for="ready" style="font-weight: bold;">El dispositivo esta listo: <label
          style="font-weight: normal;">{{ready}}</label></h6>
    </div><br>
  </div>
  {{/each}}
</div>


 
